<!-- footer
================================================== -->
<footer>

    <div class="row">

        <div class="twelve columns">

            {{> sociallinks thisClass="social-links"}}

            <ul class="copyright">
                <li>&copy; Copyright 2017 Brendan O'Leary</li>
                <li>Based on design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a></li>
            </ul>

        </div>

        <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

    </div>

</footer> <!-- Footer End-->