<!-- Header
================================================== -->
<header id="home">

    <nav id="nav-wrap">

        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
        <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

        <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
            <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#portfolio">Portfolio</a></li>
            <li><a class="smoothscroll" href="#call-to-action">Philosophy</a></li>
        </ul> <!-- end #nav -->

    </nav> <!-- end #nav-wrap -->

    <div class="row banner">
        <div class="banner-text">
            <h1 class="responsive-headline">Brendan O'Leary</h1>
            <h3>
                Skilled in managing application development, and experienced with Agile Scrum, Kanban and Scaled Agile practices.
                Zealous advocate for the <span>user experience</span>.
                Highly motivated, <span>results oriented</span>, vast experience in dealing with clients, customers,
                and end users of <span>information system solutions</span>.

                Start scrolling and learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
            <hr />
            {{> sociallinks thisClass="social"}}
        </div>
    </div>

    <p class="scrolldown">
        <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
    </p>

</header> <!-- Header End -->
