
<!-- About Section
================================================== -->
<section id="about">

    <div class="row">

        <div class="three columns">

            <img class="profile-pic"  src="images/profilepic.jpg" alt="" />

        </div>

        <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>I have over 10 years of experience at a high level working as an integration specialist,
                product manager, and Director for software vendors.
                This experience with a wide variety of systems as well as experience with the integration of
                various information systems has allowed me to play a major role in improving and streamlining the
                workflow at some of the top hospitals and DoD organizations across the United States.

                <br/><br/>
                My experience has allowed me to understand from a customer
                experience prospective how to leverage my technical background to produce results that make clinicians
                and their teams more efficient and effective.
            </p>
            <div class="row">

                <div class="columns contact-details">

                    <h2>Contact Details</h2>
                    <p class="address">
                        <span>Brendan O'Leary</span><br>
                        <span>(410) 279-3957</span><br>
                        <span>boleary (at) olearycrew (dot) com</span>
                    </p>

                </div>

                <div class="columns download">
                    <p>
                        <a href="#" class="button">
                            <i class="fa fa-download"></i>
                            Download Resume
                        </a>
                    </p>
                    <p>
                        <a href="#" class="button">
                            <i class="fa fa-print"></i>
                            Printable Resume
                        </a>
                    </p>
                </div>

            </div> <!-- end row -->

        </div> <!-- end .main-col -->

    </div>

</section> <!-- About Section End-->


<!-- Resume Section
================================================== -->
<section id="resume">

    <!-- Education
    ----------------------------------------------- -->
    <div class="row education">

        <div class="three columns header-col">
            <h1><span>Education</span></h1>
        </div>

        <div class="nine columns main-col">

            <div class="row item">

                <div class="twelve columns">

                    <h3>University of Maryland</h3>
                    <p class="info">
                        Bachelor of Science, Business Administration
                        <span>&bull;</span>
                        Information Systems
                        <span>&bull;</span>
                        <em class="date">April 2007</em></p>

                    <div class="row">
                        <div class="nine columns">
                            <p>
                                Robert H. Smith School of Business<br/>
                                <span class="info">Citation:</span> College Park Scholars, Science Technology and Society
                            </p>
                        </div>
                        <div class="three columns">
                            <img src="images/University_of_Maryland_Seal.png" class="img-responsive" />
                        </div>
                    </div>
                </div>

            </div> <!-- item end -->

        </div> <!-- main-col end -->

    </div> <!-- End Education -->


    <!-- Work
    ----------------------------------------------- -->
    <div class="row work">

        <div class="three columns header-col">
            <h1><span>Work</span></h1>
        </div>

        <div class="nine columns main-col">
            {{#each jobhistory}}
                {{> job}}
            {{/each}}
        </div> <!-- main-col end -->

    </div> <!-- End Work -->


    <!-- Skills
    ----------------------------------------------- -->
    <div class="row skill">

        <div class="three columns header-col">
            <h1><span>Certifications</span></h1>
        </div>

        <div class="nine columns main-col">

            <div class="row item">

                <div class="twelve columns">
                    <div class="row">
                        <div class="nine columns">
                            <h3>Certified SAFe 4.0 Agilist</h3>
                            <p class="info">
                                <a href="http://www.scaledagileframework.com/" target="_blank">
                                    Scalled Agile, Inc.
                                </a>
                                <span>&bull;</span>
                                <em class="date">February 2017</em></p>
                        </div>
                        <div class="three columns">
                            <img src="images/scaledagile.jpg" class="img-responsive" />
                        </div>
                    </div>
                </div>

            </div> <!-- item end -->

            <div class="row item">

                <div class="twelve columns">
                    <div class="row">
                        <div class="nine columns">
                            <h3>TS/SCI Security Clearance</h3>
                            <p class="info">
                                U.S. Government
                                <span>&bull;</span>
                                <em class="date">Pending (2017)</em></p>
                        </div>
                        <div class="three columns">

                        </div>
                    </div>
                </div>

            </div> <!-- item end -->

        </div> <!-- main-col end -->

    </div> <!-- End skills -->

    <div class="row skill">

        <div class="three columns header-col">
            <h1><span>Skills</span></h1>
        </div>

        <div class="nine columns main-col">

            <div class="row item">
                <div class="twelve columns">
                    <div class="row">
                        <div class="six columns">
                            <h5>Atlassian Products</h5>
                            <p class="info">
                                JIRA
                                <span>&bull;</span>
                                Confluence
                                <span>&bull;</span>
                                Bamboo
                                <span>&bull;</span>
                                BitBucket
                            </p>
                        </div>
                        <div class="six columns">
                            <h5>Microsoft Office</h5>
                            <p class="info">
                                Word
                                <span>&bull;</span>
                                Excel
                                <span>&bull;</span>
                                PowerPoint
                                <span>&bull;</span>
                                Access
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <h5>Software Development</h5>
                            <p class="info">
                                ASP.NET
                                <span>&bull;</span>
                                Java
                                <span>&bull;</span>
                                Node.js
                                <span>&bull;</span>
                                Meteor.js
                                <span>&bull;</span>
                                GIT
                                <span>&bull;</span>
                                SVN
                                <span>&bull;</span>
                                FoxPro
                                <span>&bull;</span>
                                Agile
                                <span>&bull;</span>
                                MVC
                                <span>&bull;</span>
                                Scrum
                                <span>&bull;</span>
                                Kanban
                                <span>&bull;</span>
                                Scaled Agile
                                <span>&bull;</span>
                                Python
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <h5>DevOps & Continuous Integration (CI)</h5>
                            <p class="info">
                                Jenkins
                                <span>&bull;</span>
                                Docker
                                <span>&bull;</span>
                                Bamboo
                                <span>&bull;</span>
                                Build Automation
                                <span>&bull;</span>
                                Puppet
                                <span>&bull;</span>
                                Chef
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="six columns">
                            <h5>Cloud Platforms</h5>
                            <p class="info">
                                Heroku
                                <span>&bull;</span>
                                Amazon AWS
                                <span>&bull;</span>
                                Microsoft Azure
                            </p>
                        </div>
                        <div class="six columns">
                            <h5>Technology</h5>
                            <p class="info">
                                Linux
                                <span>&bull;</span>
                                Windows Server Administration
                                <span>&bull;</span>
                                SSH
                                <span>&bull;</span>
                                REST
                            </p>
                        </div>
                    </div>
                </div>

            </div> <!-- item end -->

        </div> <!-- main-col end -->

    </div> <!-- End skills -->

</section> <!-- Resume Section End-->


<!-- Portfolio Section
================================================== -->
<section id="portfolio">

    <div class="row">

        <div class="twelve columns collapsed">

            <h1>Some of My Work</h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

                <div class="columns portfolio-item">
                    <div class="item-wrap">

                        <a href="#modal-01" title="">
                            <img alt="" src="images/portfolio/MagView.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>MagView</h5>
                                    <p>Re-branding</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->

                <div class="columns portfolio-item">
                    <div class="item-wrap">

                        <a href="#modal-02" title="">
                            <img alt="" src="images/portfolio/listme.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>listMe for Slack</h5>
                                    <p>Web Development</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->

                <div class="columns portfolio-item">
                    <div class="item-wrap">

                        <a href="#modal-03" title="">
                            <img alt="" src="images/portfolio/photography.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Photography</h5>
                                    <p>Design</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->

                <div class="columns portfolio-item">
                    <div class="item-wrap">

                        <a href="#modal-04" title="">
                            <img alt="" src="images/portfolio/coding.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Coding</h5>
                                    <p>Technology</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->


            </div> <!-- portfolio-wrapper end -->

        </div> <!-- twelve columns end -->


        <!-- Modal Popup
         --------------------------------------------------------------- -->

        <div id="modal-01" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="images/portfolio/modals/m-magview.jpg" alt="" />

            <div class="description-box">
                <h4>MagView</h4>
                <p>
                    Complete re-branding of company image, with a focus on values and mission.

                </p>
                <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
            </div>

            <div class="link-box">
                <a href="http://www.magview.com" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-01 End -->

        <div id="modal-02" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="images/portfolio/modals/m-listme.png" alt="" />

            <div class="description-box">
                <h4>Console</h4>
                <p>
                    listMe is a Slack add in used by teams all over the world.
                    Keep lists of to-dos, discussion topics, or ideas with each person you chat with in Slack!
                </p>
                <span class="categories"><i class="fa fa-tag"></i>Branding, Web Development</span>
            </div>

            <div class="link-box">
                <a href="http://www.listme.chat" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-02 End -->

        <div id="modal-03" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="images/portfolio/modals/m-photography.jpeg" alt="" />

            <div class="description-box">
                <span class="categories"><i class="fa fa-tag"></i>Design</span>
            </div>

            <div class="link-box">
                <!-- <a href="http://www.behance.net">Details</a> -->
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-03 End -->

        <div id="modal-04" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="images/portfolio/modals/m-code.jpg" alt="" />

            <div class="description-box">
                <h4>Coding</h4>
                <p>
                    Hands on product manager...able to dive in with the technical team to ensure the best end-to-end solution for customers.
                </p>
                <span class="categories"><i class="fa fa-tag"></i>Technology</span>
            </div>

            <div class="link-box">
                <a href="https://github.com/brendano86/" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-04 End -->

    </div> <!-- row End -->

</section> <!-- Portfolio Section End-->


<!-- Call-To-Action Section
================================================== -->
<section id="call-to-action">

    <div class="row">

        <div class="two columns header-col">
            <i class="fa fa-code-fork fa-5x"></i>
        </div>

        <div class="seven columns">

            <h2>My Philosophy on Software Development</h2>
            <p>
                My philosophy on software development has been shaped by many well-known influencers from software and technology.
                I also believe there is much be be learned from others outside of the technology space.  As every company becomes a software
                company, quality reliable software will define the next generation of businesses and social change agents.
            </p>

        </div>

        <div class="three columns action">

            <a href="https://trello.com/b/6ctbED0L/my-work-philosophy" target="_blank" class="button">See More</a>

        </div>

    </div>

</section> <!-- Call-To-Action Section End-->


<!-- Testimonials Section
================================================== -->
<section id="testimonials">

    <div class="text-container">

        <div class="row">

            <div class="two columns header-col">

                <h1><span>Client Testimonials</span></h1>

            </div>

            <div class="ten columns flex-container">

                <div class="flexslider">

                    <ul class="slides">

                        <li>
                            <blockquote>
                                <p>Your work is going to fill a large part of your life, and the only way to be truly satisfied is
                                    to do what you believe is great work. And the only way to do great work is to love what you do.
                                    If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it.
                                </p>
                                <cite>Steve Jobs</cite>
                            </blockquote>
                        </li> <!-- slide ends -->

                        <li>
                            <blockquote>
                                <p>The key to good decision making is not knowledge. It is understanding.
                                    We are swimming in the former. We are desperately lacking in the latter.
                                </p>
                                <cite>Malcolm Gladwell</cite>
                            </blockquote>
                        </li> <!-- slide ends -->

                        <li>
                            <blockquote>
                                <p>Usability is not everything. If usability engineers designed a nightclub, it would be clean, quiet, brightly lit,
                                    with lots of places to sit down, plenty of bartenders, menus written in 18-point sans-serif, and easy-to-find bathrooms.
                                    But nobody would be there. They would all be down the street at Coyote Ugly pouring beer on each other.
                                </p>
                                <cite>Joel Spolsky</cite>
                            </blockquote>
                        </li> <!-- slide ends -->

                        <li>
                            <blockquote>
                                <p>While some may see them as the crazy ones, we see genius.
                                    Because the people who are crazy enough to think
                                    they can change the world, are the ones who do.
                                </p>
                                <cite>Apple Computer</cite>
                            </blockquote>
                        </li> <!-- slide ends -->

                    </ul>

                </div> <!-- div.flexslider ends -->

            </div> <!-- div.flex-container ends -->

        </div> <!-- row ends -->

    </div>  <!-- text-container ends -->

</section> <!-- Testimonials Section End-->


<!-- Contact Section
==================================================
<section id="contact">

    <div class="row section-head">

        <div class="two columns header-col">

            <h1><span>Get In Touch.</span></h1>

        </div>

        <div class="ten columns">

            <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                voluptatem quia voluptas sit aspernatur aut odit aut fugit.
            </p>

        </div>

    </div>

    <div class="row">

        <div class="eight columns">

            <form action="" method="post" id="contactForm" name="contactForm">
                <fieldset>

                    <div>
                        <label for="contactName">Name <span class="required">*</span></label>
                        <input type="text" value="" size="35" id="contactName" name="contactName">
                    </div>

                    <div>
                        <label for="contactEmail">Email <span class="required">*</span></label>
                        <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                    </div>

                    <div>
                        <label for="contactSubject">Subject</label>
                        <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                    </div>

                    <div>
                        <label for="contactMessage">Message <span class="required">*</span></label>
                        <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                    </div>

                    <div>
                        <button class="submit">Submit</button>
                     <span id="image-loader">
                        <img alt="" src="images/loader.gif">
                     </span>
                    </div>

                </fieldset>
            </form>
            <div id="message-warning"> Error boy</div>

            <div id="message-success">
                <i class="fa fa-check"></i>Your message was sent, thank you!<br>
            </div>

        </div>


        <aside class="four columns footer-widgets">

            <div class="widget widget_contact">

                <h4>Address and Phone</h4>
                <p class="address">
                    Jonathan Doe<br>
                    1600 Amphitheatre Parkway <br>
                    Mountain View, CA 94043 US<br>
                    <span>(123) 456-7890</span>
                </p>

            </div>

            <div class="widget widget_tweets">

                <h4 class="widget-title">Latest Tweets</h4>

                <ul id="twitter">
                    <li>
                        <span>
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum
                        <a href="#">http://t.co/CGIrdxIlI3</a>
                        </span>
                        <b><a href="#">2 Days Ago</a></b>
                    </li>
                    <li>
                        <span>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaque ipsa quae ab illo inventore veritatis et quasi
                        <a href="#">http://t.co/CGIrdxIlI3</a>
                        </span>
                        <b><a href="#">3 Days Ago</a></b>
                    </li>
                </ul>

            </div>

        </aside>

    </div>

</section>  Contact Section End-->