<div class="row item">

    <div class="twelve columns">

        <h3>{{title}}</h3>
        <p class="info">{{company}} <span>&bull;</span> <em class="date">{{dates}}</em></p>

        <p>
            {{desc}}
        </p>

    </div>

</div> <!-- item end -->