<ul class="{{thisClass}}">
    <li><a href="tel:4102793957"><i class="fa fa-phone"></i></a></li>
    <li><a href="https://www.facebook.com/olearycrew" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://www.linkedin.com/in/olearycrew" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://www.instagram.com/olearycrew/" target="_blank"><i class="fa fa-instagram"></i></a></li>
    <li><a href="skype:brendano86?call"><i class="fa fa-skype"></i></a></li>
</ul>